.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image: url('http://1.bp.blogspot.com/-WV4D1fQ_W2k/U-Juoaf993I/AAAAAAAAUlE/bC7YvL1CwPI/s1600/Chrissy143.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top: 100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
  background: url('http://img1.wikia.nocookie.net/__cb20130804085050/warcommander/images/9/99/Beautiful-ocean-sunset-pictures-i8.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
  color: white;
  font-size: 24px;
}

.neighborhood-guides p {
  color: white;
  font-size: 15px;
  margin-bottom: 13px;
}