.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image: url('http://fc05.deviantart.net/fs70/f/2014/294/7/d/cosplay_babes__stella_chuu_as_ivy_valentine_by_csuk_1t-d83poy7.png');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top: 100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
  background: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRaLmyMh6F1fSJ_08lDaXNBKEMGKhDL2PbRLCRsr7ZfHDjJzMY2FQ");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
  color: white;
  font-size: 24px;
}

.neighborhood-guides p {
  color: white;
  font-size: 15px;
  margin-bottom: 13px;
}