.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image: url('http://i.dailymail.co.uk/i/pix/2015/03/01/2632E6D200000578-2974091-image-m-69_1425193548587.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top: 100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
  background: url('http://us.123rf.com/450wm/nejron/nejron1304/nejron130400288/19225059-dark-stormy-sky-over-ocean-with-big-waves.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
  color: white;
  font-size: 24px;
}

.neighborhood-guides p {
  color: white;
  font-size: 15px;
  margin-bottom: 13px;
}